.headerContainer {
  height: 5rem;
  border-bottom: 2px solid var(--gray-800);
}

.headerContent {
  height: 5rem;
  max-width: 1120px;
  margin: 0 auto;

  padding: 0 2rem;
  display: flex;
  align-items: center;

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;

      height: 5rem;
      line-height: 5rem;
      color: var(--gray-300);

      transition: color 0.2s;

      &:hover {
        color: var(--white);
      }

      & + a {
        margin-left: 2rem;
      }

      &.active {
        color: var(--white);
        font-weight: 700;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 1px;

          height: 3px;
          background-color: var(--yellow-400);
          border-radius: 3px 3px 0 0;
        }
      }
    }
  }

  button {
    margin-left: auto;
  }
}
